{
  "presets": [],
  "plugins": [],
  "env": {
    "server": {
      "presets": [
        [
          "@babel/react",
          {
            "targets": {
              "node": "8.11"
            },
            "debug": false
          }
        ],
        [
          "@babel/env",
          {
            "debug": false,
            "useBuiltIns": "false",
            "targets": {
              "node": "8.11"
            }
          }
        ]
      ],
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "client": {
      "presets": [
        "@babel/react",
        "@babel/env"
      ],
      "plugins": []
    }
  }
}
