{
  "presets": [],
  "plugins": [],
  "env": {
    "server": {
      "presets": [
        [
          "@babel/react",
          {
            "targets": {
              "node": "current"
            },
            "useBuiltIns": true,
            "debug": true
          }
        ],
        [
          "@babel/env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    },
    "client": {
      "presets": [
        "@babel/react",
        "@babel/env"
      ],
      "plugins": []
    }
  }
}
