<html>
{{> header}}
<body>
<h2 style="text-align:center">Sample Application</h2>
<div id="login">
    <div id="loader"></div>
    <div class="container-fixed">
        <span style="color:red">{{errorMsg}}</span>
        <form method="post" id="loginForm" action="/api/login">
            <div class="form-group">
                <label for="username">Username:</label>
                <input name="username" class="form-control" id="username">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input name="password" type="password" class="form-control" id="pwd">
            </div>
            <div class="text-center">
                <button type="submit" id='submit' class="btn orange-button login-button">LOGIN</button>
            </div>
        </form>
    </div>
</div>
</body>
</div>
</html>