@media (min-width: 768px) and (max-width: 1300px) {
    button.customBtn, button.customBtn:focus {
        font-size: 16px;
    }

    .planDividerDate span {
        font-size: 15px;
    }

    .releaseSearchStatus {
        margin-left: 115px;
    }

    .releaseDetailSearchFlag {
        margin-left: 60px;
        margin-top: 43px;
    }

    .releaseDetailSearchStatus {
        margin-top: 43px;
        margin-left: 55px;
    }

    .releaseOption {
        margin-bottom: 30px;
    }

    .estimationfileoption {
        padding-top: 0%;
    }
}

