/* Styles css */

#login {
    position: absolute;
    top: 37%;
    left: 48%;
    margin-top: -115px;
    margin-left: -150px;
    width: 370px;
    min-height: 230px;
    padding: 10px 40px;
    background: #F5F0EC;
    box-shadow: 2px 2px 4px #bcb6b0;
    border-radius: 5px;
}

.navbar-brand {
    padding:0 !important;
}

.span-hover .fa-user {
    font-size: 18px;
}

.modal-body, .modal-footer {
    float:left;
    width:100%;
}

.validation-error {
    color:red
}

section {
    margin-top:10px;
}

.addBtn {
    margin-bottom:10px
}